#moviesContainer {
    display:  inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
    text-align: center;
 }
    
    
    img {
        width: 100px;
        height: 100px;
    }
    
    #rentedMovies{
        display:  inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color: white;
        text-align: center;
     }
    