/* 
 #movieComponent {
    
    display:  inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

}
 */

img {
    width: 400px;
    height: 400px;
    padding-left: 50%; 
} 
